SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root

# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name  command to be executed

# OpenData import
 5 5 * * 7 root /opt/logstash/bin/logstash -f /etc/logstash/opendata/muzo-in-aopk-objednavka.conf -l /var/log/logstash/opendata/aopk/objednavka
15 5 * * 7 root /opt/logstash/bin/logstash -f /etc/logstash/opendata/muzo-in-aopk-smlouva.conf -l /var/log/logstash/opendata/aopk/smlouva
25 5 * * 7 root /opt/logstash/bin/logstash -f /etc/logstash/opendata/muzo-in-aopk-zavazek.conf -l /var/log/logstash/opendata/aopk/zavazek
35 5 * * 7 root /opt/logstash/bin/logstash -f /etc/logstash/opendata/muzo-in-mzp-objednavka.conf -l /var/log/logstash/opendata/mzp/objednavka
45 5 * * 7 root /opt/logstash/bin/logstash -f /etc/logstash/opendata/muzo-in-mzp-zavazek.conf -l /var/log/logstash/opendata/mzp/zavazek
55 5 * * 7 root /opt/logstash/bin/logstash -f /etc/logstash/opendata/muzo-in-sjcr-zavazek.conf -l /var/log/logstash/opendata/sjcr/zavazek
 5 6 * * 7 root /opt/logstash/bin/logstash -f /etc/logstash/opendata/muzo-in-sjcr-smlouva.conf -l /var/log/logstash/opendata/sjcr/smlouva
15 6 * * 7 root /opt/logstash/bin/logstash -f /etc/logstash/opendata/muzo-in-cgs-zavazek.conf -l /var/log/logstash/opendata/cgs/zavazek
25 6 * * 7 root /opt/logstash/bin/logstash -f /etc/logstash/opendata/muzo-in-cgs-objednavka.conf -l /var/log/logstash/opendata/cgs/objednavka
35 6 * * 7 root /opt/logstash/bin/logstash -f /etc/logstash/opendata/muzo-in-cgs-smlouva.conf -l /var/log/logstash/opendata/cgs/smlouva
45 6 * * 7 root /opt/logstash/bin/logstash -f /etc/logstash/opendata/muzo-in-cenia-zavazek.conf -l /var/log/logstash/opendata/cenia/zavazek
55 6 * * 7 root /opt/logstash/bin/logstash -f /etc/logstash/opendata/muzo-in-cenia-smlouva.conf -l /var/log/logstash/opendata/cenia/smlouva
 5 7 * * 7 root /opt/logstash/bin/logstash -f /etc/logstash/opendata/muzo-in-cizp-objednavka.conf -l /var/log/logstash/opendata/cizp/objednavka
15 7 * * 7 root /opt/logstash/bin/logstash -f /etc/logstash/opendata/muzo-in-cizp-smlouva.conf -l /var/log/logstash/opendata/cizp/smlouva
25 7 * * 7 root /opt/logstash/bin/logstash -f /etc/logstash/opendata/muzo-in-cizp-zavazek.conf -l /var/log/logstash/opendata/cizp/zavazek
35 7 * * 7 root python3 /opt/opendata/eap/esmlouvy.py --es-host=localhost:9200 --index=muzo-mzp-smlouva


# OpenData export
 5  8 * * 7 root python3 /opt/opendata/eap/export.py --company=aopk --doc-type=faktura --output-path=/var/ftp/pub
10  8 * * 7 root python3 /opt/opendata/eap/export.py --company=aopk --doc-type=objednavka --output-path=/var/ftp/pub
15  8 * * 7 root python3 /opt/opendata/eap/export.py --company=aopk --doc-type=smlouva --output-path=/var/ftp/pub
20  8 * * 7 root python3 /opt/opendata/eap/export.py --company=mzp --doc-type=faktura --output-path=/var/ftp/pub
25  8 * * 7 root python3 /opt/opendata/eap/export.py --company=mzp --doc-type=objednavka --output-path=/var/ftp/pub
30  8 * * 7 root python3 /opt/opendata/eap/export.py --company=sjcr --doc-type=faktura --output-path=/var/ftp/pub
35  8 * * 7 root python3 /opt/opendata/eap/export.py --company=sjcr --doc-type=smlouva --output-path=/var/ftp/pub
40  8 * * 7 root python3 /opt/opendata/eap/export.py --company=cgs --doc-type=faktura --output-path=/var/ftp/pub
45  8 * * 7 root python3 /opt/opendata/eap/export.py --company=cgs --doc-type=objednavka --output-path=/var/ftp/pub
50  8 * * 7 root python3 /opt/opendata/eap/export.py --company=cgs --doc-type=smlouva --output-path=/var/ftp/pub
55  8 * * 7 root python3 /opt/opendata/eap/export.py --company=cenia --doc-type=faktura --output-path=/var/ftp/pub
 0  9 * * 7 root python3 /opt/opendata/eap/export.py --company=cenia --doc-type=smlouva --output-path=/var/ftp/pub
 5  9 * * 7 root python3 /opt/opendata/eap/export.py --company=cizp --doc-type=faktura --output-path=/var/ftp/pub
10  9 * * 7 root python3 /opt/opendata/eap/export.py --company=cizp --doc-type=objednavka --output-path=/var/ftp/pub
15  9 * * 7 root python3 /opt/opendata/eap/export.py --company=cizp --doc-type=smlouva --output-path=/var/ftp/pub
20  9 * * 7 root python3 /opt/opendata/eap/export.py --company=mzp --doc-type=smlouva --output-path=/var/ftp/pub


# OpenData export 2019
 5 10 * * 7 root python3 /opt/opendata/eap/export.py --company=aopk --doc-type=faktura --year=2019 --output-path=/var/ftp/pub
10 10 * * 7 root python3 /opt/opendata/eap/export.py --company=mzp --doc-type=faktura --year=2019 --output-path=/var/ftp/pub
15 10 * * 7 root python3 /opt/opendata/eap/export.py --company=sjcr --doc-type=faktura --year=2019 --output-path=/var/ftp/pub
20 10 * * 7 root python3 /opt/opendata/eap/export.py --company=cgs --doc-type=faktura --year=2019 --output-path=/var/ftp/pub
25 10 * * 7 root python3 /opt/opendata/eap/export.py --company=cenia --doc-type=faktura --year=2019 --output-path=/var/ftp/pub
30 10 * * 7 root python3 /opt/opendata/eap/export.py --company=cizp --doc-type=faktura --year=2019 --output-path=/var/ftp/pub
35 10 * * 7 root python3 /opt/opendata/eap/export.py --company=aopk --doc-type=smlouva --year=2019 --output-path=/var/ftp/pub
40 10 * * 7 root python3 /opt/opendata/eap/export.py --company=sjcr --doc-type=smlouva --year=2019 --output-path=/var/ftp/pub
45 10 * * 7 root python3 /opt/opendata/eap/export.py --company=cgs --doc-type=smlouva --year=2019 --output-path=/var/ftp/pub
50 10 * * 7 root python3 /opt/opendata/eap/export.py --company=cenia --doc-type=smlouva --year=2019 --output-path=/var/ftp/pub
55 11 * * 7 root python3 /opt/opendata/eap/export.py --company=cizp --doc-type=smlouva --year=2019 --output-path=/var/ftp/pub


# OpenData export 2020
 5 11 * * 7 root python3 /opt/opendata/eap/export.py --company=aopk --doc-type=faktura --year=2020 --output-path=/var/ftp/pub
10 11 * * 7 root python3 /opt/opendata/eap/export.py --company=mzp --doc-type=faktura --year=2020 --output-path=/var/ftp/pub
15 11 * * 7 root python3 /opt/opendata/eap/export.py --company=sjcr --doc-type=faktura --year=2020 --output-path=/var/ftp/pub
20 11 * * 7 root python3 /opt/opendata/eap/export.py --company=cgs --doc-type=faktura --year=2020 --output-path=/var/ftp/pub
25 11 * * 7 root python3 /opt/opendata/eap/export.py --company=cenia --doc-type=faktura --year=2020 --output-path=/var/ftp/pub
30 11 * * 7 root python3 /opt/opendata/eap/export.py --company=cizp --doc-type=faktura --year=2020 --output-path=/var/ftp/pub
35 10 * * 7 root python3 /opt/opendata/eap/export.py --company=aopk --doc-type=smlouva --year=2020 --output-path=/var/ftp/pub
40 10 * * 7 root python3 /opt/opendata/eap/export.py --company=sjcr --doc-type=smlouva --year=2020 --output-path=/var/ftp/pub
45 10 * * 7 root python3 /opt/opendata/eap/export.py --company=cgs --doc-type=smlouva --year=2020 --output-path=/var/ftp/pub
50 10 * * 7 root python3 /opt/opendata/eap/export.py --company=cenia --doc-type=smlouva --year=2020 --output-path=/var/ftp/pub
55 11 * * 7 root python3 /opt/opendata/eap/export.py --company=cizp --doc-type=smlouva --year=2020 --output-path=/var/ftp/pub
