SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root

#-----------------------------------------------
RUNUSER=root
RUNDAY_ALL=0
LOGSTASH=/opt/logstash/bin/logstash
CONFPATH=/etc/logstash/opendata
LOGPATH=/var/log/logstash/opendata

OD_ORG_AOPK=aopk
OD_ORG_CENIA=cenia
OD_ORG_CGS=cgs
OD_ORG_CIZP=cizp
OD_ORG_MZP=mzp
OD_ORG_SJCR=sjcr

INPUT_MUZO=muzo-in
OUTPUT_CSV=csv-out

OD_FORM_OBJEDNAVKA=objednavka
OD_FORM_SMLOUVA=smlouva
OD_FORM_ZAVAZEK=zavazek
OD_FORM_POHLEDAVKA=pohledavka

OD_SET_FAKTURY=faktury
OD_SET_OBJEDNAVKY=objednavky
OD_SET_SMLOUVY=smlouvy

# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name  command to be executed

# OpenData import
05 05 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$INPUT_MUZO-$OD_ORG_AOPK-$OD_FORM_OBJEDNAVKA.conf -l $LOGPATH/$OD_ORG_AOPK/$OD_FORM_OBJEDNAVKA
15 05 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$INPUT_MUZO-$OD_ORG_AOPK-$OD_FORM_SMLOUVA.conf -l $LOGPATH/$OD_ORG_AOPK/$OD_FORM_SMLOUVA
25 05 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$INPUT_MUZO-$OD_ORG_AOPK-$OD_FORM_ZAVAZEK.conf -l $LOGPATH/$OD_ORG_AOPK/$OD_FORM_ZAVAZEK
35 05 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$INPUT_MUZO-$OD_ORG_MZP-$OD_FORM_OBJEDNAVKA.conf -l $LOGPATH/$OD_ORG_MZP/$OD_FORM_OBJEDNAVKA
45 05 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$INPUT_MUZO-$OD_ORG_MZP-$OD_FORM_ZAVAZEK.conf -l $LOGPATH/$OD_ORG_MZP/$OD_FORM_ZAVAZEK
55 05 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$INPUT_MUZO-$OD_ORG_SJCR-$OD_FORM_ZAVAZEK.conf -l $LOGPATH/$OD_ORG_SJCR/$OD_FORM_ZAVAZEK
05 06 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$INPUT_MUZO-$OD_ORG_SJCR-$OD_FORM_SMLOUVA.conf -l $LOGPATH/$OD_ORG_SJCR/$OD_FORM_SMLOUVA
15 06 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$INPUT_MUZO-$OD_ORG_CGS-$OD_FORM_ZAVAZEK.conf -l $LOGPATH/$OD_ORG_CGS/$OD_FORM_ZAVAZEK
25 06 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$INPUT_MUZO-$OD_ORG_CGS-$OD_FORM_OBJEDNAVKA.conf -l $LOGPATH/$OD_ORG_CGS/$OD_FORM_OBJEDNAVKA
35 06 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$INPUT_MUZO-$OD_ORG_CGS-$OD_FORM_SMLOUVA.conf -l $LOGPATH/$OD_ORG_CGS/$OD_FORM_SMLOUVA
45 06 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$INPUT_MUZO-$OD_ORG_CENIA-$OD_FORM_ZAVAZEK.conf -l $LOGPATH/$OD_ORG_CENIA/$OD_FORM_ZAVAZEK
55 06 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$INPUT_MUZO-$OD_ORG_CIZP-$OD_FORM_OBJEDNAVKA.conf -l $LOGPATH/$OD_ORG_CIZP/$OD_FORM_OBJEDNAVKA
05 07 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$INPUT_MUZO-$OD_ORG_CIZP-$OD_FORM_SMLOUVA.conf -l $LOGPATH/$OD_ORG_CIZP/$OD_FORM_SMLOUVA
15 07 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$INPUT_MUZO-$OD_ORG_CIZP-$OD_FORM_ZAVAZEK.conf -l $LOGPATH/$OD_ORG_CIZP/$OD_FORM_ZAVAZEK


# OpenData export
05 08 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$OUTPUT_CSV-$OD_ORG_AOPK-$OD_SET_FAKTURY.conf -l $LOGPATH/$OD_ORG_AOPK/$OD_SET_FAKTURY
15 08 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$OUTPUT_CSV-$OD_ORG_AOPK-$OD_SET_OBJEDNAVKY.conf -l $LOGPATH/$OD_ORG_AOPK/$OD_SET_OBJEDNAVKY
15 08 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$OUTPUT_CSV-$OD_ORG_AOPK-$OD_SET_SMLOUVY.conf -l $LOGPATH/$OD_ORG_AOPK/$OD_SET_SMLOUVY
35 08 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$OUTPUT_CSV-$OD_ORG_MZP-$OD_SET_FAKTURY.conf -l $LOGPATH/$OD_ORG_MZP/$OD_SET_FAKTURY
45 08 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$OUTPUT_CSV-$OD_ORG_MZP-$OD_SET_OBJEDNAVKY.conf -l $LOGPATH/$OD_ORG_MZP/$OD_SET_OBJEDNAVKY
55 08 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$OUTPUT_CSV-$OD_ORG_SJCR-$OD_SET_FAKTURY.conf -l $LOGPATH/$OD_ORG_SJCR/$OD_SET_FAKTURY
05 09 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$OUTPUT_CSV-$OD_ORG_SJCR-$OD_SET_SMLOUVY.conf -l $LOGPATH/$OD_ORG_SJCR/$OD_SET_SMLOUVY
15 09 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$OUTPUT_CSV-$OD_ORG_CGS-$OD_SET_FAKTURY.conf -l $LOGPATH/$OD_ORG_CGS/$OD_SET_FAKTURY
25 09 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$OUTPUT_CSV-$OD_ORG_CGS-$OD_SET_OBJEDNAVKY.conf -l $LOGPATH/$OD_ORG_CGS/$OD_SET_OBJEDNAVKY
35 09 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$OUTPUT_CSV-$OD_ORG_CGS-$OD_SET_SMLOUVY.conf -l $LOGPATH/$OD_ORG_CGS/$OD_SET_SMLOUVY
45 09 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$OUTPUT_CSV-$OD_ORG_CENIA-$OD_SET_FAKTURY.conf -l $LOGPATH/$OD_ORG_CENIA/$OD_SET_FAKTURY
55 09 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$OUTPUT_CSV-$OD_ORG_CIZP-$OD_SET_FAKTURY.conf -l $LOGPATH/$OD_ORG_CIZP/$OD_SET_FAKTURY
05 10 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$OUTPUT_CSV-$OD_ORG_CIZP-$OD_SET_OBJEDNAVKY.conf -l $LOGPATH/$OD_ORG_CIZP/$OD_SET_OBJEDNAVKY
15 10 * * $RUNDAY_ALL $RUNUSER $LOGSTASH -f $CONFPATH/$OUTPUT_CSV-$OD_ORG_CIZP-$OD_SET_SMLOUVY.conf -l $LOGPATH/$OD_ORG_CIZP/$OD_SET_SMLOUVY
